
.sign-upForm{
    position: absolute;
    margin-top: 50px;
    height:auto;
    background:white;
    border-radius:5px;
    max-width:78.66%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    top:12.665%;
    left:10%;
    right:10%;
 
}
.sign-upForm input{
    width:96%;
    position: relative;
    height:2.2em;
    padding:4px;
    border:1px solid white;
    border-bottom: 1px solid #9f9fa0;
}
.sign-upForm button{
    padding: 10px;
    margin: 20px 0 10px 0;
    position:relative;
    left:34%;
    border:1px solid green;
    background: green;
    color:white;
    border-radius:3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
